<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="private">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/Site.css?v=@DateTime.Now.Millisecond")" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Acme Cosmetics", "Index", "Article", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("HomePage(Users)", "Index", "Article")</li>
                    <li>@Html.ActionLink("HomePage(Admin)", "Index", "Admin")</li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="filtersandsorting">

            @using (Html.BeginForm("Index", "Admin", FormMethod.Get))
            {
                <p>
                    <input type="search" id="searchString" name="searchString" value="" placeholder="Поиск" />
                    @*@Html.TextBox("searchString", "", new { @placeholder = "Поиск" })*@

                    <input type="submit" id="searchButton" value="Найти">
                </p>
            }

            <form method="post">
                <p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Сортировать по
                        </button>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Date", "Index", new { sortOrder = "Date" })
                            @Html.ActionLink("Title", "Index", new { sortOrder = "Title" })
                            @Html.ActionLink("Description", "Index", new { sortOrder = "Description" })
                        </div>
                    </div>
                </p>
            </form>
            @using (Html.BeginForm("Index", "Admin", FormMethod.Get))
            {
                <input type="hidden" id="filterString" name="filterString" />
                <p>Фильтры:</p>
                <p><input type="checkbox" id="today"> today</p>
                <p><input type="checkbox" id="yesterday"> yesterday</p>
                <p><input type="checkbox" id="week"> this week</p>
                <p><input type="checkbox" id="all"> all</p>
                <input type="submit" id="filter" value="Фильтровать" />
            }

        </div>
        @RenderBody()
        <!--<hr />-->
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Acme Cosmetics</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Handlers/FilterHandlers.js");
    @Scripts.Render("~/Scripts/Handlers/DOMHandler.js");
    @Scripts.Render("~/Scripts/Handlers/SearchHandlers.js");
    @RenderSection("scripts", required: false)
</body>
</html>
