@{
    string controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    string currentFilterString = Request.QueryString["filterString"];
    string currentSearchString = Request.QueryString["searchString"];
}

<div class="filtersandsorting">
    @using (Html.BeginForm("Index", controllerName, FormMethod.Get, new { @id = "searchForm" }))
    {
    <p class="search">
        <input type="text" id="searchString" name="searchString" value="" placeholder= @Resources.Resource.Search />
        <input type="submit" id="searchButton" value="">
    </p>
    }
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Resources.Resource.Sort
            <img src="https://img.icons8.com/carbon-copy/100/000000/sort-down.png" style="width:20px" />
        </button>
        <ul class="dropdown-menu">
            <li class="sorting">
                @Html.ActionLink(Resources.Resource.SortByDate, "Index", new { sortOrder = 1, filterString = currentFilterString, searchString = currentSearchString })
            </li>
            <li class="sorting">
                @Html.ActionLink(Resources.Resource.SortByTitle, "Index", new { sortOrder = 2, filterString = currentFilterString, searchString = currentSearchString })
            </li>
            <li class="sorting">
                @Html.ActionLink(Resources.Resource.SortByDescription, "Index", new { sortOrder = 3, filterString = currentFilterString, searchString = currentSearchString })
            </li>
        </ul>
    </div>
    @using (Html.BeginForm("Index", controllerName, FormMethod.Get))
    {
        <div class="filter-list">
            <input type="hidden" name="filterString" id="params" value="" />
            <p>@Resources.Resource.Filters:</p>
            <ul class="filters">
                <li><input type="checkbox" id="today"> @Resources.Resource.Today</li>
                <li><input type="checkbox" id="yesterday"> @Resources.Resource.Yesterday</li>
                <li><input type="checkbox" id="week"> @Resources.Resource.LastDays</li>
                <li><input type="checkbox" id="all"> @Resources.Resource.All </li>
                <li>
                    <input type="submit" class="changerParams" id="filter" value=@Resources.Resource.Filter />
                </li>
            </ul>
        </div>
    }
</div>


@Scripts.Render("~/Scripts/Handlers/ParamsHandlers.js")
@Scripts.Render("~/Scripts/Handlers/DOMHandler.js")