@{
    string controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

<div class="filtersandsorting">
    @using (Html.BeginForm("Index", controllerName, FormMethod.Get))
    {
        <input type="hidden" id="params" name="parameters" />
        <p class="search">
            <input type="text" id="searchString" value="" placeholder="Поиск" />
            <input type="submit" class="changerParams" id="searchButton" value="">
        </p>

        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Сортировать по
            </button>
            <ul class="dropdown-menu">
                <li class="sorting">
                    @Html.ActionLink("Date", "Index", new { sortOrder = 1, parameters = Request.QueryString["parameters"] })
                </li>
                <li class="sorting">
                    @Html.ActionLink("Title", "Index", new { sortOrder = 2, parameters = Request.QueryString["parameters"] })
                </li>
                <li class="sorting">
                    @Html.ActionLink("Description", "Index", new { sortOrder = 3, parameters = Request.QueryString["parameters"] })
                </li>
            </ul>
        </div>
        <div class="filter-list">
            <p>Фильтры:</p>
            <ul class="filters">
                <li><input type="checkbox" id="today"> today</li>
                <li><input type="checkbox" id="yesterday"> yesterday</li>
                <li><input type="checkbox" id="week"> this week</li>
                <li><input type="checkbox" id="all"> all</li>
                <li>
                    <input type="submit" class="changerParams" id="filter" value="Фильтровать" />
                </li>
            </ul>
        </div>
    }
</div>


@Scripts.Render("~/Scripts/Handlers/ParamsHandlers.js")
@Scripts.Render("~/Scripts/Handlers/DOMHandler.js")