@model IEnumerable<Business.Models.Comment>

<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

@{
    string controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

@foreach (var comment in Model)
{
    <article class="comment">
        <div class="commentuser">@comment.UserName</div>
        <div class="commentdate pubDate">@comment.PubDate</div>
        <div class="commenttext">@comment.Text</div>
    </article>
    if (controllerName == "Admin")
    {
        @Html.ActionLink(Resources.Resource.DelComment, "SureDelete", comment, new { @class = "viewDialog" })

        <br />
    }
}
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@Scripts.Render("~/Scripts/commentPopup.js")
@Scripts.Render("~/Scripts/converterToLocalTime.js")