@model Business.Models.Comment

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>@Resources.Resource.SureDelComment</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">

            <dd>@Html.DisplayFor(model => model.Text)</dd>

            <dd class="commentdate">@Html.DisplayFor(model => model.PubDate)</dd>

        </dl>
        @using (Html.BeginForm("DeleteConfirmed", "Comment", new { id = Model.Id } ))
        {
            @Html.AntiForgeryToken()

            <input type="submit" value="@Resources.Resource.Delete" />
        }
    </div>
</div>