@model Business.Models.Article

@{
    ViewBag.Title = @Resources.Resource.Delete;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div>

        <h4 class="article-title title-delete">
            @Html.DisplayFor(model => model.Title)
        </h4>

        <dl class="dl-horizontal">

            <dd class="img-delete">
                <img src="@Model.ImageUrl" alt="image" />
            </dd>

        </dl>

        <h4>@Resources.Resource.SureDelete</h4>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="@Resources.Resource.Delete" class="btn btn-default" />
                <input type="button" value="@Resources.Resource.Cancel" onclick="window.location.href='@Url.Action("Index")';" class="btn btn-default" />
            </div>
        }
    </div>