@model NewsPortal.Models.ArticleIndexViewModel
@using NewsPortal.Helpers;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminList.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">

    @foreach (var item in Model.Articles)
    {
    <tr>
        <td>
            <img src="@item.ImageUrl" alt="Image" />
            @Html.DisplayFor(modelItem => item.Title)
            @Html.DisplayFor(modelItem => item.PubDate)
            @Html.Raw(item.Description)
            @Html.DisplayFor(modelItem => item.Visibility)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>

<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>