@model NewsPortal.ViewModels.ArticleIndexViewModel
@using NewsPortal.Helpers;

@{
    ViewBag.Title = @Resources.Resource.Articles;
    Layout = "~/Views/Shared/_AdminList.cshtml";
}

<h2>@Resources.Resource.Articles</h2>

<p>
    @Html.ActionLink(Resources.Resource.Create_New, "Create")
</p>

<table class="table">
    @foreach (var item in Model.Articles)
    {
        <tr>
            <td>
                <img src="@item.ImageUrl" alt="Image" />
                <div class="article-text">
                    <a href="@Url.Action("Details", new { id = item.Id })" class="article-title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                    <div class="article-desc">
                        @Html.Raw(item.Description)
                    </div>
                    <div class="article-time pubDate">
                        @item.PubDate
                    </div>
                </div>
            </td>
            <td>
                @Html.ActionLink(@Resources.Resource.Edit, "Edit", new { id = item.Id }) |
                @Html.ActionLink(@Resources.Resource.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
<div class="btn-group pages">
    @Html.Partial("Paging", Model)
</div>

@Scripts.Render("~/Scripts/converterToLocalTime.js")