@model NewsPortal.ViewModels.ArticleIndexViewModel
@using NewsPortal.Helpers;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserList.cshtml";
}

<h2>Articles</h2>

<table class="table">
    @foreach (var item in Model.Articles)
    {
        <tr>
            <td>
                <img src="@item.ImageUrl" alt="Image" />
                <div class="article-text">
                    <a href="@Url.Action("Details", new { id = item.Id })" class="article-title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>f
                    <div class="article-desc">
                        @Html.Raw(item.Description)
                    </div>
                    <div class="article-time">
                        @item.PubDate.Value.AddHours(3)
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
<br />
<div class="btn-group pages">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>