@model NewsPortal.ViewModels.ArticleIndexViewModel
@using NewsPortal.Helpers;

@{
    ViewBag.Title = @Resources.Resource.Articles;
    Layout = "~/Views/Shared/_UserList.cshtml";
}

<h2>@Resources.Resource.Articles</h2>

@if (Model.Articles.Count() == 0)
{
    @Html.Partial("ZeroArticles");
}

<table class="table">
    @foreach (var item in Model.Articles)
    {
        <tr>
            <td>
                <img src="@item.ImageUrl" alt="Image" />
                <div class="article-text">
                    <a href="@Url.Action("Details", new { id = item.Id })" class="article-title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                    <div class="article-desc">
                        @Html.Raw(item.Description)
                    </div>
                    <div class="article-time pubDate">
                        @item.PubDate
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
<br />
<div class="btn-group pages">
    @Html.Partial("Paging", Model)
</div>

@Scripts.Render("~/Scripts/converterToLocalTime.js")